footer {
    background-color: $colorBlack;
    color: $colorWhiteA5;
    padding: 27px;
    text-align: center;

        span {
        color: $colorWhiteA8;
        text-decoration: underline;
    }
}

