
.infoCol {
    max-width: 960px;
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
}

.infoRow {
    flex: 1;
    padding: 30px;
    margin-left: 10px;
    text-align: left;

        div {
        letter-spacing: 4px;
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 12px;
    }
        p {
        line-height: 150%;
        color: $colorBlackA7;
    }
}



