

$backgroundImageHeader: url(../img/backgroundc.jpg);
$colorWhiteSand: rgb(255, 255, 255);
$colorGreenA9: rgba(64, 131, 61, .9);
$colorBlueA9: rgba(32, 52, 116, .9);
$colorBlack: black;
$colorBlackA5: rgba(0, 0, 0, .5);
$colorBlackA6: rgba(0, 0, 0, .6);
$colorBlackA7: rgba(0, 0, 0, .7);
$colorBlackA9: rgba(14, 14, 14, .9);
$colorWhite: white;
$colorWhiteA5: rgba(255, 255, 255, 0.5);
$colorWhiteA8: rgba(255, 255, 255, .8);
$colorGray: rgb(215, 215, 215);
$colorGrayA8: rgba(215, 215, 215, .8);
$colorLightGray: rgb(242, 242, 242);

@import 'navBar';
@import 'header';
@import 'prices';
@import 'info';
@import 'footer';

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: $colorWhiteSand;
}